<div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="netflixLogo">
        <a id="logo" href="#home"><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712226/netflix-clone/logo_ywyhew.png" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                
        <a href="#home">Home</a>
        <a href="#tvShows">TV Shows</a>
        <a href="#movies">Movies</a>
        <a href="#originals">Originals</a>
        <a href="#">Recently Added</a>
        <a target="_blank" href="#">Portfolio</a>        
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">Account</a>        
      </nav>      
    </header>
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home">Popular on Netflix</h1>
          <div class="box">
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712281/netflix-clone/p8_y6ucoe.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712281/netflix-clone/p8_y6ucoe.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712282/netflix-clone/p9_a0qlat.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712297/netflix-clone/r1_uec2vj.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712285/netflix-clone/r2_eos7v3.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712346/netflix-clone/r3_hmpchd.png" alt=""></a>
    
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712346/netflix-clone/r3_hmpchd.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712311/netflix-clone/r4_oipmgt.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712307/netflix-clone/r5_ra8qud.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712313/netflix-clone/r6_lc08am.png" alt=""></a>
            <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712331/netflix-clone/tv9_bpthry.png" alt=""></a>
            <a href="https://res.cloudinary.com/wonderwoman/image/upload/v1571712345/netflix-clone/tv8_imrooz.png"><img src="" alt=""></a>        
          </div>
      </div>
      

      <h1 id="myList">Trending Now</h1>
      <div class="box">
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712332/netflix-clone/tv7_h8yy1p.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712339/netflix-clone/tv6_w0doyw.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712354/netflix-clone/tv5_fedncx.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712323/netflix-clone/tv4_espjsf.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712321/netflix-clone/tv3_wllkuz.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712329/netflix-clone/tv2_tafc5b.png" alt=""></a>                  
      </div>
      
      <h1 id="tvShows">TV Shows</h1>
      <div class="box">
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712324/netflix-clone/tv1_hgbyeu.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712341/netflix-clone/tv12_xdttnb.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712358/netflix-clone/tv11_txxsp8.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712336/netflix-clone/tv10_pomwo8.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712322/netflix-clone/t6_gso0lt.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712317/netflix-clone/t5_jmqmxo.png" alt=""></a>

        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712340/netflix-clone/t4_cq9nl1.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712340/netflix-clone/t4_cq9nl1.png" alt=""></a>
        <a href=""><img src="hhttps://res.cloudinary.com/wonderwoman/image/upload/v1571712318/netflix-clone/t3_sjko1e.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712304/netflix-clone/t2_x0m2pn.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712303/netflix-clone/t1_msfhct.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712324/netflix-clone/tv1_hgbyeu.png" alt=""></a>              
      </div>
      

      <h1 id="movies">Blockbuster Action And Adventure</h1>
      <div class="box">
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712249/netflix-clone/m1_ea8kzw.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712240/netflix-clone/m2_ixlcnx.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712241/netflix-clone/m3_hqftug.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712244/netflix-clone/m4_waqjh6.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712241/netflix-clone/m5_vidcmy.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712255/netflix-clone/m6_tgabt4.png" alt=""></a>                
      </div>

      <h1 id="originals">Netflix Originals</h1>
      <div class="box">
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712234/netflix-clone/o1_zjqk5g.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712251/netflix-clone/o2_gb5mcr.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712298/netflix-clone/o3_lggeih.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712260/netflix-clone/o4_r1tuta.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712271/netflix-clone/o5_pzqdj4.png" alt=""></a>
        <a href=""><img src="https://res.cloudinary.com/wonderwoman/image/upload/v1571712265/netflix-clone/o6_fhjk65.png" alt=""></a>                
      </div>
     
    <!-- END OF MAIN CONTAINER -->

    <!-- LINKS -->
    <section class="link">
      <div class="logos">
        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
      </div>
      <div class="sub-links">
        <ul>
          <li><a href="#">Audio and Subtitles</a></li>
          <li><a href="#">Audio Description</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <!-- END OF LINKS -->

    <!-- FOOTER -->
    <footer>
      <p>Wonder Woman</p>
      <p>2019</p>
    </footer>
    </section>
  </div>